* {
    box-sizing: border-box;

    body {
        margin: 0;
        
    }
    .main{
        margin-top: 2px;
        display: flex;
        flex: 1;
        
        @media (max-width: 760px) {
            
            a {
                flex-direction: row;
            }
            
        }
        
    }
}




